name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  static:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Get code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Format Check
        run: pnpm format

      - name: Lint
        run: pnpm validate
