name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  static:
    runs-on: ubuntu-slim
    timeout-minutes: 10

    steps:
      - name: Get code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Format Check
        run: pnpm format

      - name: Lint
        run: pnpm validate
